<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Book and Review</title>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}

        <header>
            <a href="/books">Home</a>
            <a href="/logout">Logout</a>
        </header>

        <h1>{{book.title}}</h1>
        <h3>Author: {{book.author.name}}</h3>


        <h1>Reviews:</h1>
        <hr>
        <p>Rating: {{book.rating}}</p>
        <a href="/users/{{review.user.id}}">{{review.user.alias}}</a> says: {{review.content}}


    </body>
</html>
